<div class="row download">

  <div class="col-md-12 text-center">
    <p style="font-size:11pt!important;">Add your details and get our wonderful book!</p>
    <form novalidate class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Postcode:</label>
        <div class="col-sm-4">
          <input class="form-control" ng-model="user.postcode" id="inputName3" placeholder="Where you live..">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-4">
          <input class="form-control" type="email" ng-model="user.email" id="inputEmail" placeholder="yourname@site.com">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-disabled="!user.postcode || !user.email" type="submit" class="btn btn-md btn-success" ng-click="update(user)">Download</button>
        </div>
      </div>
    </form>

  </div>

</div>
