<div class="jumbotron jumbotron-header">
  <img src="images/45598-32_british_alstroemeria.jpg" alt="alstroemeria">
</div>

<div class="row marketing row-info">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Special Offers</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Reviews</h3>
      </div>
      <div class="panel-body">
        Read what our customers are saying...
      </div>
    </div>
  </div>
</div>


<div class="row marketing row-info equal">

  <div class="col-md-6 col-md-offset-3 text-left">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h3>Download</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <p style="font-size:11pt!important;">
              <i>The Ultimate Guide to Flowers.</i> It's beautiful. It's got nice tips and tricks on how to buy the
              right flowers.
            </p>
          </div>

        </div>

        <div download>

        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-12 text-center">-->
        <!--<br>-->
        <!--<a blank="_target" href="app.html#/contact" class="btn btn-lg btn-default btn-primary">Contact »-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>


<div class="row marketing row-info">
  <h4>Title</h4>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus, sem in pretium convallis, elit risus
    molestie sapien, non congue nisl libero in erat. Maecenas at ultricies nunc. Donec quis mollis leo, ac posuere
    tortor. Quisque euismod et nisl id ultricies. Suspendisse tellus arcu, bibendum non massa id, hendrerit convallis
    diam. Suspendisse diam nulla, sollicitudin sed libero quis, congue porta nunc. Sed ac maximus tortor, nec
    consectetur lacus. Fusce varius diam odio, sit amet varius felis consectetur semper. Vestibulum tempor odio odio,
    vel mattis velit euismod a. Nulla efficitur rutrum libero in fringilla. Maecenas nibh magna, pulvinar sit amet
    aliquet eget, interdum eu tellus. Fusce convallis libero sit amet orci congue iaculis. Phasellus ut commodo arcu, at
    ornare enim. Nullam in diam turpis.
  </p>
</div>

<div class="row marketing row-info divider" style="height: 200px;">
  TEST
</div>
<section>

</section>
