<div class="jumbotron jumbotron-header">
  <img src="images/45598-32_british_alstroemeria.jpg" alt="alstroemeria">
</div>

<div class="row marketing row-info">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Special Offers</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div download>

    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Reviews</h3>
      </div>
      <div class="panel-body">
        Read what our customers are saying...
      </div>
    </div>
  </div>
</div>




<div class="row marketing row-info row-thumbnails">
  <div class="row row-controls">
    </div>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
    <div class="col-sm-4 col-md-3">
      <item></item>
    </div>
  </div>

</div>

<div class="row marketing row-info divider" style="height: 200px;">
  TEST
</div>
<section>

</section>
